@import '../../colorCustom.scss';

.item-container {
	height: 100%;
	width: 100%;
	position: relative;

	.header{
		width: 100%;
		position: relative;

		.name {
			height: 40px;

			span {
				font-size: 32px;
				color: $main-color;
			}
		}

		.features {
			margin-top: 15px;
			
			.search-text {
				
				mat-form-field {
					float: left;
					margin-top: 3px;
					margin-left: 15px;
					width: 42%;

					mat-label {
						color: rgb(131, 128, 128);
					}
				}
			}
	
			.filter {
				margin-left: 15%;
				display: inline-flex;
				
				.select-filter {
						
					mat-form-field{
						font-size: 13px;
						width: 145%;
					}
				}
	
				.reset-button {	
					margin-left: 39%;
					padding: 2px 0px;
					
					
					button {
						background: honeydew;
						height: 44px;
						color: $navbar-color;

						&:hover {
							background: $main-color;
							transition: 0.4s;
							color: white;
						}
					}
				}
			}
		}

		.create-button {
			display: block;
			margin-left: 95%;
			width: 5%;

			button {
				margin-left: 7px;

				mat-icon {
					font-size: 35px;
				}
			}
		}
	}

	.main-content {
		width: 100%;

		table{
			width: 100%;
			position: relative;
			
			.mat-column-item_name {
				width: 29%;
				max-width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.mat-column-item_price {
				width: 17%;
			}

			.mat-column-item_category {
				width: 17%;
			}

			.mat-column-item_discription {
				width: 17%;
				max-width: 100px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.mat-column-action {
				padding: 0 41px;

				button {
					margin: 0 8px;
				}
			}
		}
	}
}