.admin-container {
	height: 100%;
	width: 100%;
	position: relative;
  
	.navbar {
		background-color: #6E00B3; 
		width: 100%;
		height: 10%;

		.logo {
			display: inline;
			margin-left: 30px;
			font-size: 30px;
			line-height: 60px;
			color: honeydew;
		}

		.authentication {
			display: inline;
			float: right;
			font-size: 17px;
			padding: 18.5px;
			color: honeydew;

			&:hover {
				background:#6deeae;
				transition: 0.5s;
				color: white;
			}
		}
  	}

	.sidenav-container {
		height: 90%;
		width: 100%;
		position: absolute;

		.sidebar {
			height: 100%;
			width: 17%;
			background: #52de97;
			float: left;
	
			button {
				width: 100%;
				height: 8%;
				display: flex;
				align-items: center;
				background: #52de97;
				color: white;
				font-size: 16px;
	
				mat-icon {
					margin: 0px 10px;
				}
	
				&:hover {
					background: honeydew;
					transition: 0.7s;
					color: #52de97;
				}
			}
		}
	
		.main-content {
			margin-left: 17%;
			width: 83%;
			height: 100%;
			position: absolute;

			.display-content {
				margin: 2% 3%;
			}
		}
	}

}