<div class="container">
    <div class="authentication">
        <a routerLink="/sign_up">Sign-up</a>
        <a routerLink="/sign_in">Sign-in</a>
    </div>

    <div class="logomall">
        <a (click)="refresh()">LiliMall</a>
    </div>
    
    <div class="search">
        <mat-form-field appearance="outline" class="search">   
            <input matInput placeholder="Search" >
            
        </mat-form-field>
        <button><mat-icon>search</mat-icon></button>
    </div>
    
    <div class="cart">
        <mat-icon>shopping_cart</mat-icon>
    </div>

    
</div>




