@import '../../colorCustom.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container{
    margin: 3% auto;
    width: 91%;

    .search{
        display: relative;
        width: 100%;
        overflow: hidden;
        position: relative;
        justify-content: center;
        margin-bottom: 1.5%;
        
        form{
            display: inline-block;
            margin-left: 21%;
            width: 60%;
            
            
            mat-form-field{
                width: 88%;
                font-size: 13px;
                padding-top: 20px;
            }
            
            button{
                padding: 4.5px 0;
                top: -3.3px;
                background-color: #652ff8fa;
                color: whitesmoke;
            }
        }
    }

    
    .list-categories, .list-new-items{
        margin-top: 0.5%;
        padding-bottom: 1%;

        .name{
            span{
                font-size: 23px;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 1px;
            }

            img{
                margin-bottom: -0.3%;
                height: 25px;
                width: 25px;
            }
        }

        .categories, .items{
            display: grid;
            grid-template-columns: 13.9% 13.9% 13.9% 13.9% 13.9% 13.9% 13.9%;
            grid-gap: 3.5% 0.4%;
            padding: 0.3% 0 3% 0;

            .category, .item{
                text-align: center;
                font-size: 18px;
                font-family: 'Poppins', sans-serif;
                padding: 15px;
                background-color: rgb(245, 242, 242);
            }
        }
    }
}


