<div class="user-container">
	<div class="header">
		<div class="name">
			<span>Customer</span>
		</div>
	</div>

	<div class="main-content">
		<table mat-table [dataSource]="userData" class="mat-elevation-z8">
			<ng-container matColumnDef="user_id">
				<th mat-header-cell *matHeaderCellDef> Customer ID </th>
				<td mat-cell *matCellDef="let element"> {{element._id}} </td>
			</ng-container>
			<ng-container matColumnDef="user_name">
				<th mat-header-cell *matHeaderCellDef> Name </th>
				<td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
			</ng-container>
            <ng-container matColumnDef="user_phone_number">
				<th mat-header-cell *matHeaderCellDef> Phone number </th>
				<td mat-cell *matCellDef="let element"> {{element.user_phoneNumber}} </td>
			</ng-container><ng-container matColumnDef="user_address">
				<th mat-header-cell *matHeaderCellDef> Address </th>
				<!-- <td mat-cell *matCellDef="let element"> {{element.user_address}} </td> -->
				<td mat-cell *matCellDef="let element"> #update </td>
			</ng-container>
			
			<ng-container matColumnDef="action">
				<tr>
					<th mat-header-cell *matHeaderCellDef></th>
				</tr>
				<tr>
					<td mat-cell *matCellDef="let row">
						<!-- <button mat-icon-button color="accent" title="Edit Category" (click)="editCategory(row._id)"><mat-icon>edit</mat-icon></button> -->
						<button mat-icon-button color="primary" title="Delete User" (click)="onDelete(row._id)"><mat-icon>delete</mat-icon></button>
					</td>
				<tr>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<table>
			<tr *ngIf="!userData.data.length">
				<td style="text-align: center;" [attr.colspan]="displayedColumns.length">
					No Records Found!
				</td>
			</tr>
		</table>
		<mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons></mat-paginator>
	</div>
	
</div>

  
  