@import '../../colorCustom.scss';

.user-container {
	height: 100%;
	width: 100%;
	position: relative;

	.header {
		width: 100%;
		
		.name{
			height: 40px;

			span {
				font-size: 32px;
				color: $main-color;
			}
		}
	}

	.main-content {
		width: 100%;
        margin-top: 2.5%;

		table {
			width: 100%;
			position: relative;
            table-layout: fixed;

            td {
                overflow: hidden;
                width:auto;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

			.mat-column-user_name {
				width: 20%;
			}

            .mat-column-user_phone_number {
				width: 20%;
			}

            .mat-column-user_address {
				width: 45%;
			}

			.mat-column-action {
				width: 10%;
				padding: 0 20px;

				button {
                    margin-left: 25%;
				}
			}
		}
	}
}