<div class="item-form-container">
    <div class="name">
        <span>Edit Item</span>
    </div>

    <div class="main-content">
        <form [formGroup]="EditItemForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="item_name_replace">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="item_price_replace">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="item_category_replace">
                        <mat-option *ngFor="let category of listOfCategories$ | async" [value]="category.category_name">
                            {{category.category_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="item_type_replace">
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-label class="mat-label">Discription</mat-label>
                <quill-editor formControlName="item_discription_replace" [modules]="config"></quill-editor>
            </div>
                
            <div class="form-group">
                <div class="button">
                    <button mat-raised-button type="submit">Submit</button>
                    <button mat-raised-button (click)="router.navigateByUrl('/admin/item')">Back</button>
                </div>
            </div> 
        </form>
    </div>
</div>