<div class="item-form-container">
    <div class="name">
        <span>Edit Item</span>
    </div>

    <div class="main-content">
        <form [formGroup]="EditItemForm" (ngSubmit)="onSubmit()">
            <div class="form-group" >
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="item_name_replace">
                </mat-form-field>
                <div *ngIf="EditItemForm.get('item_name_replace').invalid && (EditItemForm.get('item_name_replace').touched || EditItemForm.get('item_name_replace').dirty)" class="error-message">
                    <small *ngIf="EditItemForm.get('item_name_replace').errors?.required">*Name is required</small>
                    <small *ngIf="EditItemForm.get('item_name_replace').errors?.pattern">
                        *Name contain only letter, at least 2 and no more than 30 characters 
                    </small>
                </div>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="item_price_replace">
                </mat-form-field>
                <div *ngIf="EditItemForm.get('item_price_replace').invalid && (EditItemForm.get('item_price_replace').touched || EditItemForm.get('item_price_replace').dirty)" class="error-message">
                    <small *ngIf="EditItemForm.get('item_price_replace').errors?.required">*Price is required</small>
                    <small *ngIf="EditItemForm.get('item_price_replace').errors?.pattern">
                        *Price contain only number, at least 1 and no more than 7 characters
                    </small>
                </div>
            </div>

            <div class="form-group">
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="item_category_replace">
                        <mat-option *ngFor="let category of listOfCategories$ | async" [value]="category.category_name">
                            {{category.category_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="item_type_replace">
                </mat-form-field>
                <div *ngIf="EditItemForm.get('item_type_replace').invalid && (EditItemForm.get('item_type_replace').touched || EditItemForm.get('item_type_replace').dirty)" class="error-message">
                    <small *ngIf="EditItemForm.get('item_type_replace').errors?.required">*Type is required</small>
                </div>
            </div>

            <div class="form-group">
                <mat-label class="custom-mat">Discription</mat-label>
                <quill-editor formControlName="item_discription_replace" [modules]="config"></quill-editor>
                <div *ngIf="EditItemForm.get('item_discription_replace').invalid && (EditItemForm.get('item_discription_replace').touched || EditItemForm.get('item_discription_replace').dirty)" class="error-message-outform">
                    <small *ngIf="EditItemForm.get('item_discription_replace').errors?.required">*Discription is required</small>
                </div>
            </div>
                
            <div class="form-group">
                <div class="button">
                    <button mat-raised-button type="submit" [disabled]="EditItemForm.invalid">Submit</button>
                    <button mat-raised-button (click)="router.navigateByUrl('/admin/item')">Back</button>
                </div>
            </div> 
        </form>
    </div>
</div>