@import '../../../colorCustom.scss';
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container {
    height: 100%;
    position: relative;
    background: $navbar-color;
    background-image: linear-gradient(
        to bottom right,
        $backgroundmix-color1,
        #870cd3
    );
    font-family: "Poppins", sans-serif;

    .sign-in-content {
        position: absolute;
        width: 32%;
        margin: 100px 34%;
        text-align: center;
        background: honeydew;
        border-radius: 15px;
        
        .name {
            margin-top: 8px;
            height: 40px;
    
            span {
                font-size: 30px;
                color: $main-color;
            }
        }

        form {

            mat-form-field {
                width: 70%;

                mat-label {
                    color: $main-color;
                }
            }

            .button {

                button {
                    height: 38px;
                    width: max-content;
                    margin: 10px 5px 20px 5px;
                    background: $main-color;
                    color: rgb(234, 248, 234);
                    cursor: pointer;
          
                    &:hover {
                      background: rgb(234, 248, 234);
                      transition: 0.4s;
                      color: $main-color;
                      border: 1px solid $main-color;
                    }
                  }
            }
        }
    }
}
