@import '../../../colorCustom.scss';

.container {
    height: 100%;
    position: relative;
    background: $navbar-color;
    background-image: linear-gradient(to bottom right, $backgroundmix-color1, $backgroundmix-color2);

    .sign-in-content {
        position: absolute;
        width: 32%;
        margin: 100px 34%;
        text-align: center;
        background: honeydew;
        border-radius: 25px;
        
        .name {
            margin-top: 5px;
            height: 40px;
    
            span {
                font-size: 30px;
                color: #6E00B3;
            }
        }

        form {

            mat-form-field {
                width: 70%;

                mat-label {
                    color: #6E00B3;
                }
            }

            .button {

                button {
                    height: 38px;
                    width: max-content;
                    margin: -5px 5px 15px 5px;
                    background: honeydew;
                    color: #6E00B3;

                    &:hover {
                        background: #8c1bd3;
                        transition: 0.4s;
                        color: white;
                    }
                }
            }
        }
    }
}
