@import '../../../colorCustom.scss';

.confirm-dialog-container {

    .content {
       
        display: relative;
        text-align: center;

        h2{
            font-size: 25px;
            margin-top: 0px;
        }

        h4{
            font-size: 18px;
            font-weight: normal;
            margin-top: -10px;
            color: rgb(153, 150, 150);
        }
    }

    .button {

        button {
            color: White;  
        }

        #no-button {
            width: 90px;
            margin-left: 50px;
            margin-right: 13px;
            color: red;
        }
        
        #yes-button {
            background-color: #f25e5e;
            width: 90px;
        }
    }
    
}