<div class="confirm-dialog-container">
    <div class="content">
        <!-- <mat-icon>
            error_outline
        </mat-icon> -->
        <h2>Are you sure?</h2>
        <h4>
            Do you really want to delete these category?
        </h4>
    </div>
    <div class="button">
        <button id="no-button" mat-dialog-close="false" mat-button (click)="closeDialog()">Cancel</button>
        <button id="yes-button" mat-dialog-close="true" mat-button>Delete</button>
    </div>
    
</div>