@import '../../colorCustom.scss';



.confirm-dialog-container {

    border: red 1px solid;
    .content {
        border: #0000ff 1px solid;
        color: $main-color;
        display: flex;

        #close-icon {
            margin-left: auto;
            order: 2;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            } 
        }
    }

    #no-button {
        background-color: honeydew;
        border: #0000ff 1px solid;
    }

    #yes-button {
        background-color: red;
        color: white;
        border: #0000ff 1px solid;
    }
}