<p>Category</p>
<div class="create_button">
  <button mat-icon-button color="primary" title="Create Category" routerLink="/admin/admin/category/create"><mat-icon>add</mat-icon></button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <tr><th mat-header-cell *matHeaderCellDef></th></tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="width:40%">
          <button mat-icon-button color="accent" title="Edit Category" (click)="clickEdit(row)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="primary" title="Delete Category"><mat-icon>delete</mat-icon></button>
          <!-- ! (click)="edit_category(row)" -->
        </td>
      <tr>
    </ng-container>
    
    <!-- !content of columns  -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
  