p { 
    font-size: 25px;
    color: blue;
    // border: chartreuse 3px solid;
    margin-top: 20px;
}

table {
    width: auto;
    td, th {
      padding: 0px 90px;
    }
    
  }
  
  // table td, table th {
  //   padding: 0px 130px;
  // }
  
  