p { 
    font-size: 25px;
    color:rgb(141, 43, 233);
    // border: chartreuse 3px solid;
    margin-top: 20px;
    margin-bottom: 0px;
}

.create_button {
  // border: solid red 2px;
  float: right;
  margin-top: -10px;
}

table {
    // float: right;
    width:max-content;
    td, th {
      padding: 0px 90px;
    }
    
  }
  
  // table td, table th {
  //   padding: 0px 130px;
  // }
  
  