@import '../../colorCustom.scss';

.category-container {
	height: 100%;
	width: 100%;
	position: relative;

	.header {
		width: 100%;
		
		.name{
			height: 40px;

			span {
				font-size: 32px;
				color: $main-color;
			}
		}

		.create-button {
			display: block;
			margin-left: 95%;
			width: 5%;

			button {
				margin-left: 7px;

				mat-icon {
					font-size: 35px;
				}
			}
		}
	}

	.main-content {
		width: 100%;
		// height: 80%;

		table {
			width: 100%;

			.mat-column-category_name {
				width: 40%;
			}

			.mat-column-action {
				width: 20%;
				padding: 0 41px;

				button {
					margin: 0 8px;
				}
			}

		}
	}
}