@import '../../../colorCustom.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.create-container {
    border: 1.5px solid $main-color;
    position: relative;
    width: 71%;
    margin: 6% auto; 
    text-align: center;
    border-radius: 20px;
    background: #f7fcfa;

    .name {
        margin-top: 10px;
        height: 40px;
        color: $main-color;

        span {
            font-size: 32px;
        }
    }

    .main-content {

        form {

            mat-form-field {
                width: 70%;
                font-size: 17px;

                mat-label {
                    font-family: 'Poppins', sans-serif;
                    color: grey;
                }
            }

            .error-message{
                width: 70%;
                margin: -2% 0 1% 17%;
                color: red;
                font-size: 13px; 
                text-align: left;
                font-style: italic;
            }

            .mat-label{
                display: block;
                text-align: left;   
                padding-left: 15%;
                font-size: 18px;
                font-weight: 500;
                margin: 1% 0;
            }

            quill-editor{
                display: inline-block;
                width: 70%;
                margin-top: 1%;
            }

            .custom-mat {
                display: block;
                text-align: left;   
                width: 70%;
                margin-left: 15%;
                font-size: 17px;
                font-weight: 500;
                color: grey;    
            }

            .error-message-outform{
                width: 70%;
                font-size: 14px; 
                text-align: left;
                color: red;
                margin-left: 17%;
                font-style: italic;
            }

            .upload-file {


                input {
                    display: block;
                    text-align: left;
                    margin-left: 15%;
                    margin-top: 7px;
                }

            }

            .button {

                button {
                    height: 38px;
                    width: max-content;
                    margin: 16px 5px 15px 5px;
                    background: rgb(234, 248, 234);
                    color: $main-color;

                    &:hover {
                        background: $main-color;
                        transition: 0.4s;
                        color: white;
                    }

                    &:disabled{
                        background-color: rgb(172, 172, 172);
                        color: white;
                    }
                }
            }
        }
    }
}
