.create-container {
    border: 1.5px solid #6E00B3;
    position: relative;
    width: 50%;
    margin: 6% auto; 
    text-align: center;
    border-radius: 20px;
    background: #f7fcfa;

    .name {
        margin-top: 10px;
        height: 40px;
       

        span {
            font-size: 32px;
            color: #6E00B3;
        }
    }

    .main-content {

        form {

            mat-form-field {
                width: 70%;

                mat-label {
                    color: #6E00B3;
                }
            }

            .button {
                // margin-bottom: 12px;

                button {
                    height: 38px;
                    width: max-content;
                    margin: 0px 5px 15px 5px;
                    background: #6E00B3;
                    color: white;

                    &:hover {
                        background: #6deeae;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}