* {
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 50%;
    margin: 5% 22%;
    border: blueviolet 1.5px solid;
    border-radius: 10px;
    position: absolute;

    h3 {
        margin-top: 5%;
    }

    form {
        
        
        // margin: 0;
        font-size: 15px;
        

        .form-group {
            text-align: center;
            

            mat-form-field {
                width: 75%;
                // border: blueviolet 2px solid;   
            }

            .button {
                
                margin-bottom: 20px;

                button {
                    background-color: rgb(176, 117, 231);
                    color: white;
                    // border: brown 1px solid;
                    width: 80px;
                    margin-left: 20px;
                }

                a {
                    text-decoration: none;
                    color:white;
                }
            }

            input { 
                color: black;
                font-size: 16px;
            }

            mat-label {
                font-size: 15px;
            }
        }

        
   }
}

