<div class="container">
	<div class="sign-up-content">
		<div class="name">
			<span>Account Registration</span>
		</div>
		<form [formGroup]="AccountRegistrationForm" (ngSubmit)="onSubmit()">  

			<!-- TODO input tag not show, must import this lib for form rendering properly in file styles.scss -->
			<div class="form-group">
				<mat-form-field>
					<mat-label>Username</mat-label>
					<input matInput formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
				</mat-form-field>
				<div *ngIf="(submitted && f.username.errors) || (f.username.touched && f.username.invalid)" class="error-message">
					<div *ngIf="f.username.errors.required">*Username is required</div>
				</div>
			</div>

			<div class="form-group">
				<mat-form-field>
					<mat-label>Phone Number</mat-label>
					<input matInput formControlName="phoneNumber">
				</mat-form-field>
				<div *ngIf="(submitted && f.phoneNumber.errors) || (f.phoneNumber.touched && f.phoneNumber.invalid)" class="error-message">
					<div *ngIf="f.phoneNumber.errors.required">*Phone number is required</div>
				</div>
			</div>
			
			<div class="form-group">
				<mat-form-field class="example-full-width" >
					<mat-label>Password</mat-label> 
					<!-- TODO toggle click -->
					<input matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
					<button mat-icon-button matSuffix (click)="hide = !hide">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				<div *ngIf="(submitted && f.password.errors) || (f.password.touched && f.password.invalid)" class="error-message">
					<div *ngIf="f.password.errors.required">*Password is required</div>
				</div>
			</div>  
			
			<div class="form-group">
				<mat-form-field class="example-full-width" >
					<mat-label>Confirm Password</mat-label>
					<input matInput [type]="hide_passconfirm ? 'password' : 'text'" formControlName='passwordConfirm'>
					<button mat-icon-button matSuffix (click)="hide_passconfirm = !hide_passconfirm ">
						<mat-icon>{{hide_passconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				<div *ngIf="(submitted && f.passwordConfirm.errors) || (f.passwordConfirm.touched && f.passwordConfirm.invalid)" class="error-message">
					<div *ngIf="f.passwordConfirm.errors.mustMatch">*Password must match</div>
				</div>
			</div>

			<div class="form-group">
				<div class="button">
					<button mat-raised-button type="submit">Sign-Up</button>
					<button mat-raised-button (click)="previous_page()">Back</button>
				</div>
			</div>
		</form>		
	</div>
</div>
<!-- <div class="gender">
	<mat-radio-group formControlName="gender">
		<mat-label>Gender</mat-label>
		<mat-radio-button color="primary" value="male" name="gender" >Male</mat-radio-button>
		<mat-radio-button color="primary" value="female" name="gender" >Female</mat-radio-button>
	</mat-radio-group> 
</div> 

<div class="form-group">
	<mat-form-field>
		<mat-label>Date of Birth</mat-label>
		<input matInput [matDatepicker]="picker" formControlName="dob">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker></mat-datepicker>
	</mat-form-field>
</div> -->