<app-nav-home></app-nav-home>
<div class="container">
    <div class="name">
        <span>Product</span>
    </div>
    <div class="header">
        <div class="sort">
            <mat-form-field appearance="outline">  
                <mat-label>Sort Price</mat-label>
                <mat-select (selectionChange)="sortItems($event.value)" >
                    <mat-option value="low">Low to High</mat-option>
                    <mat-option value="high">High To Low</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="filter">
            <mat-form-field appearance="outline">  
                <mat-label>Filter Price</mat-label>
                <mat-select [formControl]="price" (selectionChange)="filterItems($event.value)">
                    <mat-option (click)="init()">All</mat-option>
                    <mat-option value="1000-100000">1.000-100.000</mat-option>
                    <mat-option value="100000-500000">100.000-500.000</mat-option>
                    <mat-option value="500000-2500000">500.000-2.500.000</mat-option>
                    <mat-option value="2500000-10000000">2.500.000-10.000.000</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="list-item">
        <mat-card class="example-card" *ngFor="let item of listItem$ | async" (click)="selectItem(item._id)">
            <div *ngFor="let image of item.item_image; first as isFirst">
                <div *ngIf="isFirst">
                    <img mat-card-image src="{{image}}" width="100" height="100" title="{{item.item_name}}">
                </div>
            </div>
            <mat-card-content class="text-oneline">
                <p>{{item.item_name}}</p>
                <p class="price">{{item.item_price}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>