@import '../../colorCustom.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container{
    width: 90%;
    margin: 3% auto;
    padding-bottom: 5%;

    .name{
        span{
            font-size: 23px;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1px;
        }
    }

    .header{
        margin-top: 2%;
        border-top: 1px grey solid;
        display: flex;
        justify-content: right;

        mat-form-field{
            font-size: 13px;
            padding-top: 15%;
            
        }

        .sort{
            margin-right: 1%;
        }
    }

    .list-item {
        margin-top: 2%;
        padding-bottom: 1%;
        overflow: hidden;
        font-family: 'Poppins', sans-serif;
        
        .name{
            margin-left: 0.6%;

            span{
                font-size: 23px;
                letter-spacing: 1px;
            }

            img{
                margin-bottom: -0.3%;
                height: 25px;
                width: 25px;
            }
        }
        
        .example-card {
            width: 141px;
            margin: 0 8px;
            margin-top: 10px;
            float: left;

            .text-oneline ::ng-deep * {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: 500;
            }

            .price {
                color: orangered;
                font-size: 16px;
                font-family: 'Poppins', sans-serif;
            }

            img {
                height: 170px;
                width: 173px;
            }
        }
    }
}



