@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.item-details{

    overflow: hidden;
    width: 94%;
    margin: 4% auto;
    background-color: rgb(245, 242, 242);
    display: flex;

    .image{
        margin: 1% 0 1% 3%;
    }

    .other{
        background-color: white;
        width: 55%;
        margin: 5% 0 5% 5%;
        font-family: 'Poppins', sans-serif;

        span {
            display: block;
        }

        .name{
            font-size: 35px;
        }
        
        .price{
            font-size: 40px;
            color: orangered;
        }
    }
}