<app-nav-home></app-nav-home>

<div class="checkout">
    <div class="info">
        <div class="user-info">
            <div class="container">
                <div class="title">
                    <span>Your information</span>
                </div>
                <div class="form">
                    <form [formGroup]="UserInformationForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline">
                            <mat-label>Full name</mat-label>
                            <!-- ? use [readOnly] to disable input tag -->
                            <input matInput formControlName="name" id="name" [readOnly]="saveBtnDisable">
                        </mat-form-field>
                        <div *ngIf="name.invalid && (name.touched || name.dirty)" class="error-message">
                            <small *ngIf="name.errors?.required">*Name is required</small>
                            <small *ngIf="name.errors?.pattern">
                                *Names contain only letters, at least 2 and no more than 30 characters 
                            </small>
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Phone number</mat-label>
                            <input matInput formControlName="phoneNumber" id="phoneNumber" [readOnly]="saveBtnDisable">
                        </mat-form-field>
                        <div *ngIf="phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)" class="error-message">
                            <small *ngIf="phoneNumber.errors?.required">*Phone is required</small>
                            <small *ngIf="phoneNumber.errors?.pattern">*Phone must have 10 numbers</small>
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Delivery address</mat-label>
                            <input matInput formControlName="address" [readOnly]="saveBtnDisable">
                        </mat-form-field>
                        <div *ngIf="UserInformationForm.get('address').invalid && (UserInformationForm.get('address').touched || UserInformationForm.get('address').dirty)" class="error-message">
                            <small *ngIf="UserInformationForm.get('address').errors?.required">*Address is required</small>
                            <small *ngIf="UserInformationForm.get('address').errors?.pattern">*Address must have at least 10 and no more than 100 characters, does not contain special characters</small>
                        </div>

                        <div class="button">
                            <button [disabled]="UserInformationForm.invalid || saveBtnDisable" mat-stroked-button type="submit"> Save </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="order-info">
            <div class="container">
                <div class="title">
                    <span>Your order</span>
                </div>
                <div class="main-container" *ngIf="item | async as item">
                    <div class="name">
                        <span>Your item: </span>
                        <span class="value">{{item.item_name}}</span>
                    </div>
                    <div class="price">
                        <span>Sub: </span>
                        <span class="value" id="item-price">${{item.item_price}}</span>
                    </div>
                </div>
                <div class="button">
                    <button [disabled]="orderBtnDisable" mat-button mat-stroked-button (click)="onOrder()">Place Your Order</button>
                </div>
            </div>
        </div>
    </div> 
</div> 